<form (ngSubmit)="onSubmit()" #form>
  <app-control label="Title">
    <input
      type="text"
      name="title"
      id="title"
      #input
      [(ngModel)]="enteredTitle"
    />
  </app-control>
  <app-control label="Request">
    <textarea
      rows="3"
      name="request"
      id="request"
      #input
      [(ngModel)]="enteredText"
    ></textarea>
  </app-control>
  <p>
    <button appButton type="submit">
      Submit<span ngProjectAs="icon">⌲</span>
    </button>
  </p>
</form>
